$teach1: #fafafa;
$teach2: #F0F3BD;
$teach3: #457B9D;
$teach4: #E63946;
$teach5: #1D3557;
$teach6: #1D3557;
$teach7: #D4D4D4;

$white: #fff;

$Platinum: #E8E9EB;
$Yellow: #E4B363;
$Red: #EF6461;
$Grain: #E0DFD5;
$Coal: #313638;

$Silk: #F9DEC9;
$Pink: #E9AFA3;
$LightPurple: #99B2DD;

$Brown: #685044;
$Charcoal: #3A405A;


$LightGreen: #BBB09B;
$Green: #84A98C;
$DarkGreen: #52796F;
$DarkerGreen: #354F52;
$BlackishGreen: #2F3E46;
