@import url('https://fonts.googleapis.com/css?family=Sen:400,800&display=swap');

*{
  font-family: 'Sen', sans-serif;
}

.lilOrca{
  width: 50px;
  height: 50px;
  display: block;
  margin:5%;
  margin-right: 0;
}

.head{
  display: inline-flex !important;
  line-height: 100px;
  height: 150px;
  width: 100%;
  max-width: 100%;
  display: block;
}

.accessText{
  text-align: right;
  display: inline-flex;
  color: black;
  border-radius: 16px;
  border: 2px solid #efefef;
  text-transform: uppercase;
  font-size: 10px;
  height: 30px;
  margin: 1%;
  margin-top: 83px;

  padding: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  white-space: nowrap;
  width: fit-content;
}
.accountType{
  color: #95c795;
  width: 50px;
}

.centerText{
  text-align: center;
  margin-top: 10%;
}

.centerText p{
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.centerText h1{
  font-weight: 300;
}

.biteTitle{
  position: absolute;
  width: 80%;
  max-height: 180px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5%;
  font-size: 18px;
}

.buttonRow{
  display: inline-flex;
  width: 100%;
}

.bubbleButton{
  width: 15%;
  padding: 1%;
  border: none;
  background: #506EFA;
  color: white;
  border-radius: 6px;
  margin-top: 3%;
}

.biteCreationCenter{
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 10px #e8e8e8;
  border-radius: 6px;
  width: 30%;
  max-width: 30%;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  overflow-x: scroll;
  max-height: 350px;
  height: 350px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: 0;
}

.biteCreationCenter textarea, input, select{
  width: 100%;
  margin-top: 5%;
  padding: 5%;
  border: 1px solid #efefef;
  border-radius: 1px;
  resize: none;
}

.biteCreationCenter select{
  /* height: 40px; */
  width: 110%;
}

.biteCreationCenter button{
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  border: none;
  margin-top: 10%;
  border-radius: 3px;
  background: #506EFA;
  box-shadow: 0px 0px 5px #cecece;
  color: #fff;
}

.biteCreationCenter button img{
  width: 15px;
}

.biteCreationCenter .numberNav{
  list-style: none;
  display: inline-flex;
  padding: 0px !important;
  margin-left: 24%;
}

.biteCreationCenter .numberNav li{
  margin-left: 10px;
  margin-right: 10px;

  color: #fff;
  background: #eff2ff;

  font-size: 10px;
  min-width: 30px;
  line-height: 30px;
  height: 30px;
  display: block;
  text-align: center;

  border-radius: 50%;
  border: 1px solid #fff;
}

.biteCreationCenter .numberNav .selected{
  background: #c9d3ff;
  border: none;
}

.biteCreationCenter .numberNav li img{
  width: 15px;
  margin-top: 7px;
}


.finalSlideWindow{
  display: block;
  width: 500px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  position: absolute;
  height: 330px;
  top: 27%;
  margin-top: 3%;
  background: #fcfcfc;;
  border-radius: 4px;
  text-align: center;
}

.finalTickBtn{
  margin-top: 90% !important;
}

.window{
  color: #b8b8b8;
}

.startWindow{
  display: block;
  width: 100%;
  padding-top: 15%;
}

.startWindow h1{
  color: #5c5c5c;
  width: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

.startWindow h3{
  font-size: 10px;
}

.startWindow h4{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  color: #acacac;
  max-height: 50px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
