<div class="head">
  <img src="../assets/orca1024.png" class="lilOrca" (click)="goHome()"/>
  <button (click)="accessLogin()" class="accessText" *ngIf="!user">access</button>
  <button (click)="logOut()" class="accessText" *ngIf="user">{{user.displayName}} <label class="accountType">Teacher</label> </button>

  <h3 class="biteTitle" *ngIf="bite.title && creteBite">{{bite.title}}</h3>
</div>

<div *ngIf="!creteBite">
  <div class="centerText" *ngIf="user">
    <h1>Welcome to Sensepad</h1>

    <button class="bubbleButton" (click)="createBite()">Start New Bite</button>
  </div>

  <div class="centerText" *ngIf="!user">
    <h1>Sensepad</h1>
    <p>A centralised method of education, to ensure a lifelong curiosity; inspiring students aged 8-15 in becoming adaptable, lifelong learners. </p>
  </div>

</div>

<div class="biteCreationCenter" *ngIf="creteBite">


  <ul class="numberNav">
    <li [ngClass]="{'selected' : biteStep == 0 || !biteStep}" (click)="nextBite(0)">0</li>
    <li [ngClass]="{'selected' : biteStep == 1}" (click)="nextBite(1)">1</li>
    <li [ngClass]="{'selected' : biteStep == 2}" (click)="nextBite(2)">2</li>
    <li [ngClass]="{'selected' : biteStep == 3}" (click)="nextBite(3)">3</li>
    <li [ngClass]="{'selected' : biteStep == 4}" (click)="nextBite(4)"><img src="../assets/circleCheck.png" /></li>
  </ul>

  <form>

    <span *ngIf="!biteStep || biteStep == 0">
      <input type="text" placeholder="Bite Title" [(ngModel)]="bite.title" name="title"/>
      <textarea type="text" [(ngModel)]="bite.description" placeholder="Short Description (optional. max 150 characters)" name="description" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

      <select [(ngModel)]="bite.subject" name="subject">
        <option value="" disabled selected>Subject</option>
        <option>Math</option>
        <option>Science</option>
        <option>Art</option>
        <option>English</option>
        <option>History</option>
        <option>Wellbeing</option>
        <option>Philosophy</option>
        <option>Business</option>
        <option>Language</option>
        <option>Computing</option>
        <option>Geography</option>
        <option>Design & technology</option>
        <option>Drama</option>
        <option>Music</option>
      </select>

      <select [(ngModel)]="bite.subSubject" name="subSubject" *ngIf="bite.subject == 'Math'">
        <option value="" disabled selected>Sub-Subject</option>
        <option>Geometry</option>
        <option>Fractions</option>
        <option>Times Tables</option>
        <option>Prime Numbers</option>
        <option>Factors</option>
        <option>Time</option>
        <option>Finical</option>
        <option>Practical</option>
        <option>Other</option>
      </select>

      <select [(ngModel)]="bite.subSubject" name="subSubject" *ngIf="bite.subject == 'Science'">
        <option value="" disabled selected>Sub-Subject</option>
        <option>Science Understanding</option>
        <option>Science as a Human Endeavour</option>
        <option>Science Inquiry Skills</option>
      </select>

      <select [(ngModel)]="bite.subSubject" name="subSubSubject" *ngIf="bite.subSubject == 'Science Understanding'">
        <option value="" disabled selected>Sub-Subject</option>
        <option>Science Understanding</option>
        <option>Science as a Human Endeavour</option>
        <option>Science Inquiry Skills</option>
      </select>

      <div class="buttonRow">
        <button type="button" (click)="nextSlide()">Next</button>
      </div>
    </span>

    <span *ngIf="biteStep == 1">
      <textarea name="text" [(ngModel)]="bite.one.slideOne" type="text" placeholder="Slide #1 (max 150 characters)" name="one.slideOne" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <textarea name="text" [(ngModel)]="bite.one.slideTwo" type="text" placeholder="Slide #2 (optional. max 150 characters)" name="one.slideTwo" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <textarea name="text" [(ngModel)]="bite.one.slideThree" type="text" placeholder="Slide #3 (optional. max 150 characters)" name="one.slideThree" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

      <textarea type="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' [(ngModel)]="bite.one.question" placeholder="Question" name="one.question"></textarea>
      <input type="text" [(ngModel)]="bite.one.answer" placeholder="Answer" name="one.answer"/>


      <div class="buttonRow">
        <button type="button" (click)="previousSlide()">Back</button>
        <button type="button" (click)="nextSlide()">Next</button>
      </div>
    </span>


    <span *ngIf="biteStep == 2">
      <textarea [(ngModel)]="bite.two.slideOne" type="text" placeholder="Slide #1 (max 150 characters)" name="two.slideOne" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <textarea [(ngModel)]="bite.two.slideTwo" type="text" placeholder="Slide #2 (optional. max 150 characters)" name="two.slideTwo" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <textarea [(ngModel)]="bite.two.slideThree" type="text" placeholder="Slide #3 (optional. max 150 characters)" name="two.slideThree" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

      <textarea type="text" [(ngModel)]="bite.two.question" placeholder="Question" name="two.question" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <input type="text" [(ngModel)]="bite.two.answer" placeholder="Answer" name="two.answer"/>

      <div class="buttonRow">
        <button type="button" (click)="previousSlide()">Back</button>
        <button type="button" (click)="nextSlide()">Next</button>
      </div>
    </span>


    <span *ngIf="biteStep == 3">
      <textarea [(ngModel)]="bite.three.slideOne" type="text" placeholder="Slide #1 (max 150 characters)" name="three.slideOne" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <textarea [(ngModel)]="bite.three.slideTwo" type="text" placeholder="Slide #2 (optional. max 150 characters)" name="three.slideTwo" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <textarea [(ngModel)]="bite.three.slideThree" type="text" placeholder="Slide #3 (optional. max 150 characters)" name="three.slideThree" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

      <textarea type="text" [(ngModel)]="bite.three.question" placeholder="Question" name="three.question" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      <input type="text" [(ngModel)]="bite.three.answer" placeholder="Answer" name="three.answer"/>

      <div class="buttonRow">
        <button type="button" (click)="previousSlide()">Back</button>
        <button type="button" (click)="nextSlide()">Review</button>
      </div>
    </span>


    <span *ngIf="biteStep == 4">

      <div *ngIf="bite.title">
        <div class="finalSlideWindow">
          <div class="window startWindow">
            <h3>{{bite.subject}} <label *ngIf="bite.subSubject">&bull; {{bite.subSubject}}</label></h3>
            <h1>{{bite.title}}</h1>
            <h4>{{bite.description}}</h4>
          </div>
        </div>

        <div class="buttonRow finalTickBtn">
          <button type="button" (click)="previousSlide()">Back</button>
          <button type="button" (click)="submitBite()"><img src="../assets/circleCheck.png" /></button>
        </div>


      </div>

    </span>

  </form>
</div>
