
<ion-content [fullscreen]="true">
  <img src="../assets/orca1024.png" />
  <div class="centerText">
    <h1>Sensepad.</h1>
    <p>A centralised method of learning, to ensure a lifelong curiosity; inspiring students aged 8-15 in becoming adaptable, lifelong learners. </p>
  </div>
</ion-content>
