
.coreBack{
  background: #F1F0FE;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.core{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;

  text-align: center;
  margin-top: 20%;
}

.startContent{
  h1{
    font-size: 36px;
    color: #8D6352;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-bottom: 20%;
  }

  a{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
  }
}


.nameSelect{
  select{
    background: #fff;
    border: none;
    border-radius: 0px;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;

    color: #8D6352;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
  }

  input{
    padding: 2%;
    font-size: 14px;

    color: #8D6352;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

    margin-left: 3%;
  }

  .subjectSelect{
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
  }

  button{
    background: #fff;
    padding: 3%;
    font-size: 14px;
    text-transform: uppercase;

    color: #8D6352;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;

    padding-left: 21%;
    padding-right: 21%;
  }
}
