<div class="coreBack">
  <div class="core startContent" *ngIf="startContent">
    <h1>Welcome to the <b>SensePad</b> Teacher Tablet</h1>
    <a (click)="nameSelectTrigger()">Setup</a>
  </div>

  <div class="core nameSelect" *ngIf="nameSelect">
    <select placeholder="Miss">
      <option value="miss">Miss</option>
      <option value="mrs">Mrs</option>
      <option value="mr">Mr</option>
    </select>
    <input placeholder="Last Name" />

    <br /><br />

    <select placeholder="Maths" class="subjectSelect">
      <option value="english">English</option>
      <option value="math">Math</option>
      <option value="science">Science</option>
      <option value="history">History & Geography</option>
      <option value="computing">Computing</option>
      <option value="art">Film, Art & Design</option>
      <option value="music">Music</option>
      <option value="health">Health & Wellbeing</option>
    </select>

    <br /><br />

    <button>Begin</button>
  </div>
</div>
