@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

.setup{
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
  overflow: hidden;

  font-family: 'Muli', sans-serif !important;
  font-weight: 400;

  .topbar{
    width: 100%;
    height: 8%;
    border-bottom: 2px solid #e8e8e8;
    display: inline-grid;

    .menuicon{
      margin-top: 1.5%;
      color: #282830;
      font-weight: 600;
      font-size: 26px;
      width: 20%;
      padding-left: 2%;
    }

    h1{
      text-align: center;
      color: #282830;
      font-weight: 600;
      width: 60%;
      margin-left: 20%;
      margin-top: 1.3%;
      position: absolute;
    }


    .donelabel{
      font-size: 21px;
      position: absolute;
      margin-top: 1.5%;
      color: #9E3E25;
      width: 20%;
      margin-left: 80%;
      text-align: right;
      padding-right: 2%;
    }
  }

  .bottomwrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      padding: 5%;

      .displayport{
        width: 60%;
        height: 60%;

        border-radius: 5px;
        border: 2px solid #F7D6B5;
        box-shadow: 0px 34px 22px -30px lightgrey;
      }

      .colorsport{
        width: 60%;
        height: 27%;

        border-radius: 5px;
        border: 3px dotted #F7D6B5;
        box-shadow: 0px 34px 22px -30px lightgrey;
        margin-top: 5%;

        overflow: hidden;

        .leftside{
          width: 50%;
          height: 100%;
          margin-top: -2.5%;
          padding: 3%;
          text-align: center;

          h3{
            font-size: 18px;
          }

          ul{
            list-style: none;
            text-align: left;
            margin-left: 5%;

          }

          li{
            width: 180px;
            height: 40px;
            margin-top: 6%;
            text-align: center;
            border-radius: 50px;
            background: linear-gradient(to right, #F7D6B5, #E1B493);
            color: #fff;
            line-height: 40px;
          }

          .selected{
          background: linear-gradient(to bottom right,  #BA5445, #9E3E25);
          }
        }

        .rightside{
          width: 50%;
          height: 100%;
          margin-left: 50%;
          margin-top: -21.3%;
          background: #F6F7F2;
          overflow: hidden;
          max-width: 50%;

          ion-content{
            background: #F6F7F2;
            height: 100%;
          }

          ul{
            list-style: none;
            margin: 0 auto;
            margin-left: -0.8vw;
            display: inline-flex;
          }

          .specialcard{
            background-color: #F7D6B5;
            text-align: center;

            i{
              position: absolute;
              color: #fff;
              font-size: 21px;
              line-height: 5.3vh;
              margin-left: -2vw;
              z-index: 9000;
            }

            input{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: -1.5vw;
                overflow: hidden;
                position: absolute;
                z-index: 900;
            }

            // .hue-alpha{
            //   display: none;
            // }
            //
            // .hex-text{
            //   display: none !important;
            // }
          }
          li{
            width: 40px;
            height: 40px;
            border-radius: 50%;

            margin-top: 20%;

            vertical-align: top;

            box-shadow: 0px 0px 7px #8e8e8e;
          }
        }
      }
  }

  .space{
    width: 100%;
    height: 20%;
  }

  .halfspace{
    width: 100%;
    height: 10%;
  }
}
