<div class="setup">
  <div class="topbar">

    <i class="icon-back menuicon" (click)="goBack()"></i>
    <h1>Tablet Creation</h1>
    <span class="donelabel">Done</span>
  </div>

  <div class="bottomwrapper">
    <div class="displayport">

    </div>


    <div class="colorsport">
      <div class="leftside">
        <h3>Select element to colour</h3>

        <ion-content>
          <ul>
            <li class="selected">Keyboard</li>
            <li>Time</li>
            <li>Date</li>
            <li>Titles</li>
            <li>Subtitles</li>
            <li>Icons</li>
            <li>Keyboard Background</li>
            <li>Keyboard Keys</li>
            <li>Alert Btn</li>
            <li>Card Backgrounds</li>
            <li>Card Backgrounds</li>
          </ul>
        </ion-content>
      </div>

      <div class="rightside">
        <ion-content>
          <div class="halfspace"></div>

          <ul *ngFor="let ColorResult of ColorResults">
            <li *ngIf="ColorResult == 'specialone'" class="specialcard"><input [(colorPicker)]="color" [style.background]="color" [cpHeight]="130"/><i class="icon-dropper"></i></li>
            <li *ngIf="ColorResult != 'specialone'" [style.backgroundColor]="ColorResult"></li>
          </ul>

          <div class="space"></div>
        </ion-content>
      </div>

    </div>
  </div>

</div>
