@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?appjqo');
  src:  url('fonts/icomoon.eot?appjqo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?appjqo') format('truetype'),
    url('fonts/icomoon.woff?appjqo') format('woff'),
    url('fonts/icomoon.svg?appjqo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e902";
}
.icon-nightMode:before {
  content: "\e903";
}
.icon-more:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e906";
}
.icon-cube:before {
  content: "\e907";
}
.icon-click:before {
  content: "\e908";
}
.icon-back:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
