<div class="nighttimeoverlay" *ngIf="nighttime"></div>

<div class="parent" *ngIf="parentMode == true" >
  <img src="assets/topbar.png"  class="topbanner"/>
  <i class="settico icon-settings" (click)="ungoTeachMode()"></i>

  <span class="quote">"The world is a dangerous place to live, not because of the people who are evil, but because of the people who don't do anything about it." - Albert Einstein</span>

  <i class="searchicon icon-search"></i>
  <input placeholder="Search for something, anything." class="searchanything"/>

  <div class="statsdrops">
    <span class="happi">Happiness</span>
    <span class="acdem">Academics</span>

    <ul class="dropletgrid">
    <li class="namechip">Sylvester Mccoy</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 83px;">25%</li>
      <li class="bignum">9</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 83px;">93%</li>
    </ul>
    <ul class="dropletgrid">
      <li class="namechip">Matt Smith</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 87px;">87%</li>
      <li class="bignum">24</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 100px;">100%</li>
    </ul>
    <ul class="dropletgrid">
      <li class="namechip">David Tennant</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 54px;">54%</li>
      <li class="bignum">17</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 86px;">86%</li>
    </ul>
    <ul class="dropletgrid">
      <li class="namechip">Tom baker</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 45px;">45%</li>
      <li class="bignum">13</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 83px;">83%</li>
    </ul>

    <ul class="dropletgrid">
      <li class="namechip">Peter Capaldi</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 45px;">45%</li>
      <li class="bignum">75</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 83px;">83%</li>
    </ul>

    <ul class="dropletgrid">
      <li class="namechip">Jon Pertwee</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 88px;">88%</li>
      <li class="bignum">62</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 43px;">43%</li>
    </ul>
  </div>


  <div class="homeworkblock">
    <button class="viewhmw">View Homework</button> <br /><br />
    <button class="sethmw">Set Homework</button>
  </div>

  <!-- <h3>Time spent in</h3><h4>Entertainment</h4> -->
  <div class="dropdowndownstats">
    <span class="parta">Bob Simmons</span>
    <span class="partb">Joe Smith</span>
    <span class="partc">Jane Oswald</span>
    <span class="partd">Jack Reeves</span>
    <span class="parte">Harry Simmions</span>
    <span class="partf">Thin Lizzy</span>
  </div>

  <div class="dropdowndownstats2">
    <span class="parta">Bob Simmons</span>
    <span class="partb">Joe Smith</span>
    <span class="partc">Jane Oswald</span>
    <span class="partd">Jack Reeves</span>
    <span class="parte">Harry Simmions</span>
  </div>

  <div class="linestats">
    <span class="parta"></span>
    <span class="partb"></span>
    <span class="partc"></span>
    <span class="partd"></span>
    <span class="parte"></span>
  </div>

  <div class="dropdowndownstats3">
    <span class="parta">Bob Simmons</span>
    <span class="partb">Joe Smith</span>
    <span class="partc">Jane Oswald</span>
  </div>

  <div class="linestats2">
    <span class="parta"></span>
    <span class="partb"></span>
    <span class="partc"></span>
    <span class="partd"></span>
    <span class="parte"></span>
  </div>


  <div class="bigboy2"></div>

  <h1>{{today | date:'h:mma'}}</h1>
  <h2>{{today | date:'fullDate'}}</h2>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="2" min="0" max="3" step="1">
  </div>

  <ul class="thecorelist">
    <!-- Security Levels <br /> -->
    <li>Open</li>
    <li>Moderate</li>
    <li>Junior</li>
    <li>Closed</li>
  </ul>

  <div class="subject">Year 6, Maths</div>


  <div class="bigboy">
    <div class="alertcard negativecard">Bob Simmions, Thin Lizzy & Joe Smith didn't complete their homework last night</div>
    <div class="alertcard positivecard" style="padding-top: 2vh;">Jane Oswald Completed 'Maths:10 Algebra' in under 2 minutes!</div>
    <div class="alertcard negativecard" style="padding-top: 2vh;">Jack Reeves struggled with his homework last night, it took him 25 minutes</div>

    <hr>

    <div class="rightside">
      <div class="alertcard" style="padding-top: 3vh;">Bob Simmons recently searched 'boobs'</div>
      <div class="alertcard" style="padding-top: 3vh;">Jane Oswald recently searched 'netflix' in maths</div>
      <div class="alertcard" style="padding-top: 2vh;">Jack Reeves recently searched 'Pokemon Go' in maths</div>
    </div>
  </div>

  <!-- <input placeholder="Search Students..." class="searchstd" />

  <div class="notifipane">
    <h5>Searches</h5><h5>Communications</h5>
    <hr>
  </div> -->
</div>
















<div *ngIf="!parentMode">
  <div class="mainframe" [ngClass]="{'greenmode' : dashmode }">
    <div class="nameinput" [ngClass]="{'fulldashcard' : dashmode}" *ngIf="!coremode && !splashscreen">

    	<!-- CORE ICONS -->
    	<i class="coreicon icon-back" (click)="nightTime()" *ngIf="loadspin && aimode"></i>
    	<i class="nightIco icon-nightMode" (click)="nightTime()"></i>

      <!-- CORE CRITTER -->
      <img src="assets/critters/{{selectedCritter}}.jpg" class="logofront">

      <div *ngIf="!loadspin && !aimode && !searchmode">

      <div id="results"></div>

      <h1>Welcome to Sense<span class="lilnug">jr</span></h1>
      <h5>Recommended for Children aged 3-10</h5>
      <h5 class="alertflasg" *ngIf="alertflash">Woops, looks like you didn't put your name in!</h5>
      <input class="name" type="text" placeholder="Hey there, what's your full name?" ngModel required #displayName="ngModel" /><br />

      <div class="chooseCamp">Choose your Companion</div>
      <div class="xscrollsec">
        <div *ngFor="let critter of critters">
          <img  src="assets/critters/{{critter}}.jpg" (click)="selectCritter(critter)"/>
        </div>
      </div>

      <button (click)="goaimode(displayName)">Continue</button>
    </div>


    <div *ngIf="loadspin && !dashmode && !aimode">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>

    <div *ngIf="aimode">

      <div class="showadulttxt">Hello, {{displayName}}, please show this to an adult 🦐</div>

      <div class="boringtxt">If your okay with it, please enter your city and school. You can skip this but you will lose the ability to compare and test your child against other children in your region and school as well as certain other features within this system.</div>

      <div class="locinputs">
        <input class="country" type="text" placeholder="Country (optional)" ngModel required #country="ngModel" /><br />
        <input class="city" type="text" placeholder="City (optional)" ngModel required #city="ngModel" /><br />
        <input class="school" type="text" placeholder="School (optional)" ngModel required #school="ngModel" /><br />
      </div>

      <button (click)="gomodesel(country, city, school)" class="aiskipbtn">Skip Location Features</button>
    </div>


    <div *ngIf="searchmode" class="search">

      <ion-item class="optionbrick">
        <ion-select [(ngModel)]="selectedSearch" interface="action-sheet" (ngModelChange)="switchSearchMode($event)">
          <ion-option value="everything">All</ion-option>
          <ion-option value="videos">Videos</ion-option>
          <ion-option value="books">Books</ion-option>
          <ion-option value="articles">Articles</ion-option>
        </ion-select>
      </ion-item>

      <i class="icon icon-search"></i>
      <input class="coresearch" placeholder="Search..." [formControl]="search" [(ngModel)]='coreSearch' (ngModelChange)="userTypeing($event)"/>

      <ion-content>
        <div *ngIf="coreSearch">
          <div *ngFor="let result of results | async" class="videocard">
            <h3>{{result.snippet.title}}</h3>
            <p>Video by {{result.snippet.channelTitle}}</p>
            <youtube-player [playerId]='"player"' [width]="360" [height]="250" [videoId]='result.id.videoId'> </youtube-player>
          </div>
        </div>

        <img src="assets/read.jpg" class="circlelown" *ngIf="!coreSearch">

        <div class="heavyblock"></div>
      </ion-content>
    </div>

    <!-- Large Panel -->

    <div class="dash" *ngIf="dashmode">
      <div *ngIf="canviewdash">
        <img src="assets/orca1024.png" class="littelogo">

        <div class="username">William S. Fischer</div>
        <div class="studentID">#29333 - Somerset College</div>

        <div class="pointcount">48/260 &#932;&#933;&#923;</div>
        <div class="teacherbtn">Alert a Teacher</div>

        <div class="filterline">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <input class="searchbox"  placeholder="Search a topic..." name="searchTerm" ngModel required #searchTerm="ngModel">
            <button style="display: none">Submit</button>
          </form>
        </div>

        <div class="mainbox">

          <div class="shiftboxes">
            <div class="lessoncard">
              <div class="circletag"></div>
              <h1>{{results.title}}</h1>
              <h2>{{results.extract}}</h2>
              <h3>35 minute lesson</h3>
              <div class="points">32 &#932;&#933;&#923;</div>
            </div>
  <!--
            <div class="lessoncard">
              <div class="circletag"></div>
              <h1>Osmosis</h1>
              <h2>Science</h2>
              <h3>15 minute lesson</h3>
              <div class="points">12 &#932;&#933;&#923;</div>
            </div>

            <div class="lessoncard">
              <div class="circletag"></div>
              <h1>The Great Gatsby</h1>
              <h2>English</h2>
              <h3>21 minute lesson</h3>
              <div class="points">90 &#932;&#933;&#923;</div>
            </div>

            <div class="lessoncard">
              <div class="circletag"></div>
              <h1>Calculas</h1>
              <h2>Maths</h2>
              <h3>1 hour lesson</h3>
              <div class="points">62 &#932;&#933;&#923;</div>
            </div>
  -->
          </div>
        </div>
      </div>

    </div>


    <!-- mainframe endfffvg -->
  </div>

  <div *ngIf="splashscreen && !coremode" class="splashscreen" (click)="unlockDevice()">
    <img src="https://source.unsplash.com/random/1920x1080">
    <div class="dimit" ></div>
    <div class="centercircle" [ngClass]="{'orangecircle' : unlockedDev }" ><i class="icon-click"></i></div>
    <div class="thetime">{{today | date:'h:mma'}}</div>

  </div>

  <div *ngIf="coremode && !splashscreen" class="core">

    <div class="leftbox">

      <ion-content *ngIf="settingsmode" >
        <div class="settingsm">


          <button class="setupbtn" (click)="setup()">Run Setup</button>
          <button class="teachermodebtn" (click)="goTeachMode()">Teacher Mode</button>
          <button class="lockscreen" (click)="lockDevice()">Lock Your SensePad</button>
        </div>
      </ion-content>

      <ion-content *ngIf="gserachmode" >
        <div class="gsearchmode">
          <img src="assets/customSearchLogotag.png" class="thanksimg">

          <ng-container *ngFor="let gSearchResult of gSearchResults">
            <div class="resultbox" (click)="webviewr(gSearchResult)" *ngIf="theValue.length >= 1">
               <h1 [innerHTML]="gSearchResult.htmlTitle"></h1>
              <h2 [innerHTML]="gSearchResult.htmlSnippet"></h2>
              <h3>{{gSearchResult.formattedUrl}}</h3>
            </div>
          </ng-container>

          <iframe class="webpagebrowse" width="100%" height="300" *ngIf="isinwebview" [attr.src]="videoUrl"></iframe>

          <h3 *ngIf="theValue.length == 0" class="searchaw">Search Away...</h3>

        </div>
      </ion-content>


      <ion-content *ngIf="happinessmode" style="z-index: 9000; background-color: #FFFDE8;">
        <div class="happinessmode">
          <img class="avacado" src="../assets/avocado.png" />

          <h1>How to be happy</h1>

          <ul>
            <li>Listen to good music</li>
            <li>Hang out with people</li>
            <li>Go outside and play</li>
            <li>Meet new people</li>
            <li>Exercise</li>
            <li>Have fun</li>
          </ul>

          <p>Further Methods <br /><br /> Im Feeling really unhappy</p>

        </div>
      </ion-content>

      <ion-content *ngIf="gscholarswitch" style="z-index: 9000; background-color: #DBDBDB;">
        <div class="gsearchmode">

          <h4>Google Scholar</h4>
          <ng-container *ngFor="let gSearchResult of gSearchResults">
            <div class="resultbox" (click)="webviewr(gSearchResult)">
              <h1 [innerHTML]="gSearchResult.htmlTitle"></h1>
              <h2 [innerHTML]="gSearchResult.htmlSnippet"></h2>
              <h3>{{gSearchResult.formattedUrl}}</h3>
              <h3 *ngIf="gSearchResults.length === 0" class="searchaw">Search Away...</h3>
            </div>
          </ng-container>

          <iframe [src]="videoUrl" [hidden]="!videoUrl" width="500" height="600" type='application/pdf'></iframe>

          <h3 *ngIf="loadingfeature" class="searchaw">Loading...</h3>

        </div>
      </ion-content>

      <ion-content class="profilecontent" *ngIf="isProfileMode" style="z-index: 9000; background-color: #DBDBDB;">
        <div class="profileMode">

          <img src="https://i.pinimg.com/736x/08/92/10/0892104c7fb128c729dce360e1240d77--office-wallpaper-green-wallpaper.jpg" class="coverphoto" />

          <div class="swagtriangle"></div>

          <img src="https://scontent-syd2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13774586_1751239031797437_59053642_n.jpg" class="centercirclepro" />
          <h1>William Fischer</h1>
          <h2>I love programming and long walks on the beach</h2>

        </div>
      </ion-content>

      <ion-content *ngIf="!settingsmode && !gserachmode">
        <h1 class="clocl">{{today | date:'h:mm'}}<span class="ughlilpm">pm</span></h1>
        <h2 class="date">{{today | date:'fullDate'}}</h2>
       <!--  <div class="messages">William, it's Lunch Time, please don't forget to eat something healthy!</div>
     -->

        <div class="infoblock" (click)="gofullm(theValue, titlewiki, extractwiki, imgwik)">
          <h1 *ngIf="!titlewiki">Nothing Found...</h1>
          <h1 *ngIf="titlewiki">{{titlewiki}}</h1>
          <!-- <h2>Programming language</h2> -->
          <p *ngIf="extractwiki">{{extractwiki}}</p>
          <p *ngIf="!extractwiki">Nothing found, please try again...</p>


          <ion-slides>
            <ion-slide *ngFor="let item of flicker">
              <img [src]="item.link" *ngIf="item.link" />
              <h2 [innerHtml]="item.htmlSnippet"></h2>
            </ion-slide>
          </ion-slides>


          <div class="tagwrapper">
            <span class="tag">AngularJs</span> <span class="tag">Ionic</span> <span class="tag">HTML</span>
          </div>
        </div>

        <div class="happinessblock">
          <img class="imghappi" src="assets/happy.PNG" />
          <h1>It's lunchtime!</h1>
          <h2>Make sure to have a piece of fruit and something to drink.</h2>
          <hr />

          <button class="welbeingtrigger" (click)="happiness()">Well-Being Center</button>
        </div>

         <div class="subfillbricks coursebrick">Course Work <i class="rightico icon-right"></i></div>
         <div class="subfillbricks assignbrick">Assignments <i class="rightico icon-right"></i></div>
         <div class="subfillbricks workbrick">Other Work <i class="rightico icon-right"></i></div>

        <div class="profilebox educationresources" (click)="gscholarmode(theValue)">Educational Resources <i class="rightico icon-right"></i></div>

        <div class="profilebox fullprofilebox" (click)="ProfileMode()">
          <img src="https://i.pinimg.com/736x/08/92/10/0892104c7fb128c729dce360e1240d77--office-wallpaper-green-wallpaper.jpg" class="coverphoto" />

          <img src="https://scontent-syd2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13774586_1751239031797437_59053642_n.jpg 640w,https://scontent-syd2-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/13774586_1751239031797437_59053642_n.jpg 750w,https://scontent-syd2-1.cdninstagram.com/t51.2885-15/e35/13774586_1751239031797437_59053642_n.jpg" class="centercirclepro" />
          <h1>William Fischer</h1>
          <h2>I love programming and long walks on the beach</h2>

        </div>

        <div class="weatehrblock">
          <img src="https://cdn.dribbble.com/users/823181/screenshots/3917191/scenery_illustration_1x.png" />
          <h3>Today is a beautiful 21 degrees</h3>
        </div>

        <h1 class="subtitlem">The Scientfic Community, Today.</h1>

        <ng-container *ngFor="let TwitterResult of TwitterResults">
          <div class="scieneceblock" *ngIf="TwitterResult.text">
            <h2>{{TwitterResult.text}}</h2>
            <h4>
              <font color="#6C7A89">Posted {{TwitterResult.created_at | date:'fullDate'}}</font><br />
              <font color="#6C7A89">Tweet by {{TwitterResult.user.name}} in {{TwitterResult.user.location}}</font><br />
              <font color="#6C7A89">{{TwitterResult.retweet_count}}</font> Retweets<br />
              <font color="#6C7A89">{{TwitterResult.favorite_count}}</font> Favourites
            </h4>
          </div>
        </ng-container>

        <div class="bottomroom"></div>
      </ion-content>


      <div class="largeview" *ngIf="fullinfo">
        <ion-content>
          <h1 *ngIf="titlewiki">{{titlewikicatch}}</h1>
          <p *ngIf="extractwiki">{{extractwikicatch}}</p>

          <h6 class="srcedimg"> Sourced Images </h6>


          <ion-slides>
            <ion-slide *ngFor="let item of flicker">
              <img [src]="item.link" *ngIf="item.link" />
              <h2 [innerHtml]="item.htmlSnippet"></h2>
            </ion-slide>
          </ion-slides>

          <h6 class="srcedimg"> Further Analysis </h6>

          <p *ngIf="extractwiki">{{extractwikicatchp2}}</p>

          <h5>Twitter on {{titlewikicatch}}</h5>

          <ng-container *ngFor="let TwitterResult of TwitterResults">
            <div class="scieneceblock" *ngIf="TwitterResult.text">
              <h2>{{TwitterResult.text}}</h2>
              <h4>
                <font color="#6C7A89">Posted {{TwitterResult.created_at | date:'fullDate'}}</font><br />
                <font color="#6C7A89">Tweet by {{TwitterResult.user.name}} in {{TwitterResult.user.location}}</font><br />
                <font color="#6C7A89">{{TwitterResult.retweet_count}}</font> Retweets<br />
                <font color="#6C7A89">{{TwitterResult.favorite_count}}</font> Favourites
              </h4>
            </div>
          </ng-container>



          <h6> Related Images </h6>

          <ion-slides>
            <ion-slide *ngFor="let wikiimage of wikiimages">
              <img [src]="wikiimage" *ngIf="wikiimage" />
            </ion-slide>
          </ion-slides>


        </ion-content>
      </div>

    <div class="keyboardbox"  [ngClass]="{'happykeyboard' : happinessmode }">
      <img src="assets/orca1024.png" *ngIf="!happinessmode" class="mymanthecham">
      <img src="assets/orca1024_br.png" *ngIf="happinessmode" class="mymanthecham">

      <!-- <i class="logoico icon-cube" (click)="ungofullm()"></i> -->

      <i class="settico icon-settings" *ngIf="!settingsmode" (click)="settingssmode()"></i>
      <i class="globeico icon-cube" *ngIf="!gserachmode"(click)="gsearchmode()"></i>


      <i class="setticoc icon-close" *ngIf="settingsmode" (click)="unsettingssmode()"></i>
      <i class="globeicoc icon-close" *ngIf="gserachmode" (click)="ungsearchmode()"></i>


      <span class="cubeperfect" (click)="ungofullm()"></span>
      <span class="setperfect" *ngIf="!settingsmode" (click)="settingssmode()"></span>
      <span class="setperfect" *ngIf="settingsmode" (click)="unsettingssmode()"></span>

      <h2 class="corename"><b>Science Mode</b></h2>

      <div class="checkyinputhider"></div>
      <input type="search" placeholder="William, what would you like to learn about?" class="biggsearch" value="{{theValue}}">

      <div class="mainkeyboard" [ngClass]="{'uppershift' : hitshift }">

        <div *ngIf="specialkeys">
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('0')">0</span>
              <span class="KeyboardKey" (click)="useKeyboard('1')">1</span>
              <span class="KeyboardKey" (click)="useKeyboard('2')">2</span>
              <span class="KeyboardKey" (click)="useKeyboard('3')">3</span>
              <span class="KeyboardKey" (click)="useKeyboard('4')">4</span>
              <span class="KeyboardKey" (click)="useKeyboard('5')">5</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('6')">6</span>
              <span class="KeyboardKey" (click)="useKeyboard('7')">7</span>
              <span class="KeyboardKey" (click)="useKeyboard('8')">8</span>
              <span class="KeyboardKey" (click)="useKeyboard('9')">9</span>
              <span class="KeyboardKey" (click)="useKeyboard('!')">!</span>
              <span class="KeyboardKey" (click)="useKeyboard('%')">%</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('')">"</span>
              <span class="KeyboardKey" (click)="useKeyboard(':')">:</span>
              <span class="KeyboardKey" (click)="useKeyboard(';')">;</span>
              <span class="KeyboardKey" (click)="useKeyboard('^')">^</span>
              <span class="KeyboardKey" (click)="useKeyboard('&')">&</span>
              <span class="KeyboardKey" (click)="useKeyboard('*')">*</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('(')">[</span>
              <span class="KeyboardKey" (click)="useKeyboard(')')">]</span>
              <span class="KeyboardKey" (click)="useKeyboard('-')">-</span>
              <span class="KeyboardKey" (click)="useKeyboard('+')">+</span>
              <span class="KeyboardKey" (click)="useKeyboard('/')">/</span>
              <span class="KeyboardKey" (click)="useKeyboard('=')">=</span>
          </div>

          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('/')">/</span>
              <span class="KeyboardKey" (click)="useKeyboard('')">'</span>
              <span class="KeyboardKey" (click)="useKeyboard('`')">`</span>
              <span class="KeyboardKey" (click)="useKeyboard('<')"><</span>
              <span class="KeyboardKey" (click)="useKeyboard('>')">></span>
              <span class="KeyboardKey" (click)="useKeyboard('`')">~</span>
          </div>
        </div>

        <div *ngIf="!specialkeys">
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('q')">Q</span>
              <span class="KeyboardKey" (click)="useKeyboard('w')">W</span>
              <span class="KeyboardKey" (click)="useKeyboard('e')">E</span>
              <span class="KeyboardKey" (click)="useKeyboard('r')">R</span>
              <span class="KeyboardKey" (click)="useKeyboard('t')">T</span>
              <span class="KeyboardKey" (click)="useKeyboard('y')">Y</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('u')">U</span>
              <span class="KeyboardKey" (click)="useKeyboard('i')">I</span>
              <span class="KeyboardKey" (click)="useKeyboard('o')">O</span>
              <span class="KeyboardKey" (click)="useKeyboard('p')">P</span>
              <span class="KeyboardKey" (click)="useKeyboard('a')">A</span>
              <span class="KeyboardKey" (click)="useKeyboard('s')">S</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('d')">D</span>
              <span class="KeyboardKey" (click)="useKeyboard('f')">F</span>
              <span class="KeyboardKey" (click)="useKeyboard('g')">G</span>
              <span class="KeyboardKey" (click)="useKeyboard('h')">H</span>
              <span class="KeyboardKey" (click)="useKeyboard('j')">J</span>
              <span class="KeyboardKey" (click)="useKeyboard('k')">K</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('l')">L</span>
              <span class="KeyboardKey" (click)="useKeyboard('z')">Z</span>
              <span class="KeyboardKey" (click)="useKeyboard('x')">X</span>
              <span class="KeyboardKey" (click)="useKeyboard('c')">C</span>
              <span class="KeyboardKey" (click)="useKeyboard('v')">V</span>
              <span class="KeyboardKey" (click)="useKeyboard('b')">B</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('#')">#</span>
              <span class="KeyboardKey" (click)="useKeyboard('@')">@</span>
              <span class="KeyboardKey" (click)="useKeyboard('$')">$</span>
              <span class="KeyboardKey" (click)="useKeyboard('?')">?</span>
              <span class="KeyboardKey" (click)="useKeyboard('n')">N</span>
              <span class="KeyboardKey" (click)="useKeyboard('m')">M</span>
          </div>
        </div>

        <div class="KeyboardRow">
            <span class="KeyboardKey serious" (mousedown)="useBackspace()"  style="text-transform: none;">Backspace</span>


            <span *ngIf="specialkeys">
              <span class="KeyboardKey" (click)="useKeyboard('(')">(</span>
              <span class="KeyboardKey" (click)="useKeyboard(')')">)</span>
            </span>

            <span *ngIf="!specialkeys">
              <span class="KeyboardKey" (click)="useKeyboard('.')">.</span>
              <span class="KeyboardKey" (click)="useKeyboard(',')">,</span>
            </span>

            <span class="KeyboardKey specmiore" (click)="moreicons()">
              <i class="icon-more"></i>
            </span>

            <span class="KeyboardKey serious" (click)="activateshift()"  style="text-transform: none;">Shift</span>
        </div>

        <div class="KeyboardRow">
            <span class="KeyboardKey megaserious" (click)="useKeyboard(' ')" style="text-transform: none;">Space</span>
        </div>
      </div>
      <div class="helpmelmao">Alert Mr. Hawtin</div>
    </div>
  </div>
</div>
