@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

*{
  transition: all 1s ease !important;
}

input,button {border:0; outline:none;}

page-home{
	padding: 0;
	margin: 0;
}

.mainframe{
	background: #e8e8e8;
	width: 100vw;
	height: 100vh;
	position: absolute;
 	scroll-snap-align: start;
}

.nameinput{
	text-align: center;
	width: 85%;
	height: 94%;

	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0px 0px 30px 1px #8e8e8e;
	overflow: hidden;
	margin-top: 5%;
	border-radius: 10px;

	transition: all 1s ease-in-out;

}

.nameinput .logofront{
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin-top: 2vh;
}

.nameinput h1{
	margin-top: 3vh;
	color: #289C9A;
	font-family: 'Neucha', cursive;
	font-size: 42px;
}

.nameinput .chooseCamp{
	margin-top: 6vh;
	color: #289C9A;
	font-family: 'Neucha', cursive;
	font-size: 21px;
	text-align: center;
	padding-left: 3vw;
	padding-right: 3vw;
}

.nameinput h5{
	margin-top: 0vh;
	color: #6C7A89;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}

.nameinput .alertflasg{
	position: absolute;
	text-align: center;
	width: 85%;
	font-size: 14px;
	color: #D24D57;
	margin-top: 9vh;
}

.nameinput .showadulttxt{
	width: 100%;
	max-width: 70%;
	text-align: center;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	color: #289C9A;
	font-family: 'Neucha', cursive;
	font-size: 21px;
	padding-left: 15vw;
	padding-right: 15vw;
	margin-top: -28vh;
}

.nameinput .boringtxt{
	width: 100%;
	max-width: 60%;
	text-align: center;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	color: black;
	margin-top: 0vh;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-top: -18vh;
}

.locinputs{
	margin-top: 30vh;
}

.locinputs input{
	padding: 15px;
	padding-left: 15px;
	border: 1px solid #e8e8e8;
	margin-top: 1vh;
	width: 60%;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.nameinput .lilnug{
	font-size: 24px;
	margin-left: 0.5vw;
}

.nameinput .name{
	padding: 15px;
	padding-left: 15px;
	border: 1px solid #e8e8e8;
	margin-top: 2.5vh;
	width: 60%;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.coreicon{
	width: 2%;
	position: absolute;
	margin-left: -22vw;
	padding: 7vw;
	font-size: 24px;
	color: #8e8e8e;

}

.nightIco{
	width: 2%;
	position: absolute;
	margin-left: 50%;
	padding: 3vw;
	padding-top: 7vw;
	font-size: 26px;
	color: rgb(233,181, 136);
}

.nameinput button{
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #e8e8e8;
	margin-top:2.5vh;
	background-color: #289C9A;
	color: #fff;
	width: 70%;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	height: 5vh;
	font-size: 18px;
}


.sk-folding-cube {
  margin-top: 25vh;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);

	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #289C9A;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.fulldashcard{
	width: 90vw;
	height: 90vh;
	margin-top: 5vh;
	box-shadow: none;
	border-radius: 5px;
}

.greenmode{
	background: linear-gradient(to bottom right, #245F71, #289C9A);
}

.dash .littelogo{
	width: 7vw;
	margin-left: -75vw;
	margin-top: 3vw;
}

.dash .filterline{
	width: 100%;
	background-color: #F7F8F9;
	margin-top: 10vh;
	height: 10vh;

	transition: all 1s ease-in-out;
}

.dash .mainbox{
	width: 100%;
	background-color: #1E2022;
	height: 60vh;
	padding: 3vw;

	transition: all 1s ease-in-out;
}

.dash .lessoncard{
	width: 13vw;
	height:40vh;
	background-color: orange;
	border-radius: 3px;
	background: linear-gradient(to bottom right, #4EC89E, #406CBC);

	display: inline-flex;
	margin-left: 3vw;
	overflow: hidden;
}

.dash .lessoncard:nth-child(2){
	background: linear-gradient(to bottom right, #3B81BE, #966CAC);
}

.dash .lessoncard:nth-child(3){
	background: linear-gradient(to bottom right, #F7A485, #E06484);
}

.dash .lessoncard:nth-child(4){
	background: linear-gradient(to bottom right, #74B8E3, #3C3679);
}

.dash .shiftboxes{
	margin-left: -8vw;
}

.lessoncard h1{
	position: absolute;
	margin-top: 9vh;
	margin-left: 1.5vw;
	font-size: 24px;
	color: #fff;

	font-weight: 300;
	font-family: 'Nunito', sans-serif;

	width: 10vw;
	overflow: hidden;
	text-align: left;
}

.lessoncard h2{
	position: absolute;
	margin-top: 17vh;
	margin-left: 1.5vw;
	font-size: 16px;
	color: #e8e8e8;

	font-weight: 800;
	font-family: 'Nunito', sans-serif;
}

.lessoncard h3{
	position: absolute;
	margin-top: 36vh;
	margin-left: 1.5vw;
	font-size: 10px;
	color: #e8e8e8;

	font-weight: 700;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}

.lessoncard .points{
	position: absolute;
	margin-top: 35vh;
	margin-left: 8.5vw;
	width: 60px;
	height: 20px;
	padding: 5px;
	border-radius: 50px;
	font-size: 8px;
	color: #fff;
	background: rgba(255, 255, 255, 0.3);
	line-height: 2.3vh;

	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}

.dash .username{
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	margin-left: 12vw;
	margin-top: -8vh;
	font-size: 28px;
	position: absolute;
	color: #1E1E20;
}

.dash .studentID{
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	margin-left: 12vw;
	margin-top: -3.5vh;
	font-size: 18px;
	position: absolute;
	color: #8e8e8e;
}

.dash .searchbox{
	margin-top: 2.5vh;
	width: 30vw;
	height: 1vh;
	padding: 1vw;
	border-radius: 10px;
	border: none;

	font-weight: 400;
	font-family: 'Nunito', sans-serif;
}

.dash .teacherbtn{
	color: #D24D57;
	border: 1px solid #D24D57;
	width: 10vw;
	height: 5vh;
	border-radius: 12px;
	line-height: 5vh;
	position: absolute;
	margin-left: 73vw;
	margin-top: -2.5vw;

	font-weight: 400;
	font-family: 'Nunito', sans-serif;
}



.dash .pointcount{
	color: #289C9A;
	font-size: 32px;
	margin-top: -7vh;

	font-weight: 600;
	font-family: 'Nunito', sans-serif;
	text-transform: lowercase;
	white-space: nowrap;
}

.dash .circletag{
	width: 20px;
	height: 20px;
	background-color: #242527;
	position: absolute;
	margin-left: 2vw;
	margin-top: 4vh !important;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 3px black;
}


.xscrollsec{
	width: 90%;
	height: 26vh;
	overflow-y: hidden;
	margin-top: 1vh;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
  	overflow: auto;
  	background-color: #fff;

}

.xscrollsec::-webkit-scrollbar {
    display: none;
}

.xscrollsec div{
    display: inline-block;
}


.xscrollsec img{
	width: 130px;
	height: 130px;
	object-fit: cover;
	margin-top: 0vh;
	background-image: url("assets/loader.gif");
	overflow: hidden;
}

img:before {
  content: " ";
  font-size: 1000px;
}

.nighttimeoverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(233,181, 136,0.3);
    z-index: 2;

    overflow:visible;
    pointer-events:none;
}

.search .coresearch{
	margin-top: 5vh;
	width: 85%;
	padding: 10px;
	font-size: 21px;
	border: 1px solid #289C9A;
	padding-left: 23vw;
	color: #242527;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
	border-radius: 5px;
}

.search .optionbrick{
	position: absolute;
	margin-top: 5.1vh;
	width: 15%;
	padding: 5px;
	margin-left: 7vw;
	height:4.7vh;
	color: #289C9A;
	font-family: 'Neucha', cursive;
	text-align: center;
	padding-top: 10px;
	font-size: 18px;
}

.search .input-wrapper{
width: 90vw !important;
border: none;
}

.search .select{
	max-width: 100% !important;
	margin-top: -1.5vh;
	padding: 1px;
	width: 100% !important;
}

.search button{
	background-color: transparent;
	border-radius: 0px;
	margin-top: 0vh;
	width: 100% !important;
	border: none !important;
}


.search .optionbrick .icon-down{
	padding-left: 2.2vw;
	position: absolute;
	line-height: 2.2vh !important;
}

.search .icon-search{
	position: absolute;
	margin-top: 7vh;
	margin-left: 18vw;
	font-size: 18px;
	line-height: 1vh !important;
}

.videocard{
	background-color: #fafafa;
	box-shadow: 0px 0px 10px #8e8e8e;
	width: 70vw;
	margin-top: 4vh;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 5vw;
	border-radius: 5px;
	height: 40vh;
}

.videocard youtube-player{
	position: absolute;
	margin-left: -30vw;
}

.videocard h3{
	position: absolute;
	width: 80%;
	text-align: left;
	margin-top: 28vh;
	height: 4vh;
	overflow: hidden;
	font-size: 19px;
	font-family: 'Neucha', cursive;
}

.videocard p{
	position: absolute;
	width: 100%;
	text-align: left;
	margin-top: 33vh;
	height: 4vh;
	overflow: hidden;
	font-size: 19px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
}

.search ion-content{
	height: 47vh;
	width: 80%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 50vh;
}

.search .heavyblock{
	height: 10vh;
}

.search .circlelown{
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.infosheet{
	width: 92%;
	height: 92%;
	background-color: #FAFAFA;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 30vh;
	border-radius: 30px;
	padding: 8vw;
	z-index: 9000;

	.sideblock{
		width: 35vw;
		height: 30vh;
		margin-left: 46vw;
		margin-top: 10vh;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-top: 1vw;

		h2{
			color: black;
			font-family: 'Neucha', cursive;
		}

		ul{
			color: black;
			font-weight: 400;
			margin-left: -8vw;
			width: 110%;
			font-family: 'Nunito', sans-serif;
			font-weight: 200;
			font-size: 18px;
			list-style: none;
		}

		a{
			color: black;
			font-style: italic;
		}

		.lilheight{
			height: 2.5vh;
		}
	}

	h1{
		font-size:42px;
		color: #4B77BE;
		font-family: 'Neucha', cursive;
	}

	h3{
		font-family: 'Nunito', sans-serif;
		font-weight: 200;
		text-transform: lowercase;
		font-style: italic;
		position: absolute;
		font-size: 18px;
		margin-top: 0.3vh;
	}

	iframe{
		margin-left: 0vw;
		margin-top: 4vh;
		width: 100%;
	}

	.containment{
		margin-left: -3.5vh;
		width: 63.5%;
		margin-top: -30vh;
		height: 30vh;
		overflow: hidden;
	}

	.containment ion-content{
		background-color: #fafafa;
	}

	#columns {
		column-width: 150px;
		column-gap: 900px;
	  width: 90%;
		margin: 5px auto;
	}

	div#columns figure {
		background: #fefefe;
		box-shadow: 0px 1px 5px #8e8e8e;
		margin: 0 2px 15px;
		padding: 15px;
		padding-bottom: 10px;
		transition: opacity .4s ease-in-out;
	  display: inline-block;
	  column-break-inside: avoid;
		border-radius: 3px;
	}

	div#columns figure img {
		width: 100%; height: auto;

		padding-bottom: 15px;
		border-radius: 3px;
		margin-bottom: 5px;
	}

	div#columns figure figcaption {
		font-family: 'Nunito', sans-serif;
		font-weight: 400;
		text-align: center;
	}

	div#columns small {
	  font-size: 1rem;
	  float: right;
	  text-transform: uppercase;
	  color: #aaa;
	}

	div#columns small a {
	  color: #666;
	  text-decoration: none;
	  transition: .4s color;
	}

	div#columns:hover figure:not(:hover) {
		opacity: 0.4;
	}

	@media screen and (max-width: 750px) {
	  #columns { column-gap: 0px; }
	  #columns figure { width: 100%; }
	}

	.resbtn{
		position: absolute;
		margin-left: 42vw;
		padding: 3vw;
		background-color: #D24D57;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		border: none;
		border-radius: 5px;
		margin-top: 1.5vh;
	}

	.lockicon{
		position: absolute;
		color: #D24D57;
		margin-left: 55vw;
		margin-top: -9vh;
		font-size: 82px;
	}
}

.dimmer{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 0;
	position: absolute;
}


.keyboardbox{
	// background-color: #F2F1EF;
	background-color: #F2F1EF;
	width: 50vw;
	height: 100vh;
	text-align: center;
	padding: 2%;
	position: absolute;
	margin-left: 50vw;
	top: 0;
	left: 0;
	margin-right: auto;
}

.leftbox .clocl{
	font-size: 7vw;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	color: #E68364;
}

.leftbox .date{
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #6C7A89;
	padding-bottom: 7vh;
}

.leftbox .ughlilpm{
	font-size: 36px;
}

.leftbox ion-content{
	text-align: center;
	width: 50vw;
	height: 100vh;
	position: absolute;
	background-color: transparent;

}

.leftbox ion-content .scroll-content{
	overflow: auto !important;
	padding: 10% !important;
}

.leftbox ion-content .scroll-content::-webkit-scrollbar{
	display: none !important;
}

.leftbox .bottomroom{
	height: 60vh;
	width: 100%;
}


.leftbox .messages{
	background-color: #87D37C;
	width: 100%;
	height: 9vh;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	font-family: 'Neucha', cursive;
	padding-top: 1.3vh;
	font-size: 14px;
	padding-left: 15%;
	padding-right: 15%;
	overflow: hidden;
	box-shadow: 0px 0px 10px #8e8e8e;
}

.leftbox .subfillbricks{
 width: 100%;
 height: 10vh;

 padding-left: 8%;
 padding-right: 8%;
 padding-top: 2%;

 margin-top: 3vh;
 border-radius: 10px;
 font-size: 16px;
 text-align: left;
 transition: all 1s ease-in-out;
 text-align: left;
 font-size: 21px;
 font-family: 'Nunito', sans-serif;
 font-weight: 600;
 line-height: 7.5vh;
 background-color: #fff;
}

.leftbox .coursebrick{
 box-shadow: 0px 0px 5px #E68364;
 color: #E68364;
}

.leftbox .assignbrick{
 box-shadow: 0px 0px 5px #E68364;
 color: #E68364;
}

.leftbox .workbrick{
 box-shadow: 0px 0px 5px #E68364;
 color: #E68364;
}

.leftbox .infoblock{
	width: 100%;
	height: auto;
	background-color: #fafafa;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 2%;

	border-radius: 10px;
	font-size: 12px;
	box-shadow: 0px 0px 10px #8e8e8e;
	text-align: left;
	margin-top: 10vh;
}

.leftbox .tag{
	width: 40px;
	height: 20px;
	background-color: #ECF0F1;
	border-radius: 10px;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	margin-left: 0.3vw;
	color: #6C7A89;
}

.leftbox .tagwrapper{
	margin-top: 5vh;
	margin-left: -0.5vw;
	padding-bottom: 5vh;
}

.leftbox .weatehrblock{
	width: 100%;
	height: 15vh;
	background-color: #fff;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 2%;

	margin-top: 3vh;
	border-radius: 10px;
	font-size: 12px;
	box-shadow: 0px 0px 10px #8e8e8e;
	text-align: left;
	transition: all 1s ease-in-out;
}

 .leftbox .profilebox{
	width: 100%;
	height: 10vh;
  	// background: linear-gradient(to top right, #26C281, #16A085);
  color: #16A085;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 2%;

	margin-top: 3vh;
	border-radius: 10px;
	font-size: 16px;
	box-shadow: 0px 0px 10px #16A085;
	text-align: left;
	transition: all 1s ease-in-out;
	text-align: left;
	font-size: 21px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	line-height: 7.5vh;
	background-color: #fff;
 }

 .leftbox .fullprofilebox{
 	height: 50vh;
	width: 100%;
	padding: 0;
	box-shadow: 0px 0px 20px #8e8e8e;

	text-align: center;

	h1{
		margin-top: 10vh;
		font-size: 28px;
	}

	h2{
		margin-top: 0vh;
		font-size: 14px;
		color: #8e8e8e;
	}
 }

.leftbox .coverphoto{
	width: 100%;
	height: 25vh;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
	object-position: top;
}

.leftbox .centercirclepro{
 width: 150px;
 height: 150px;

 border-radius: 50%;

 object-fit: cover;
 object-position: center;

 box-shadow: 0px 0px 20px #8e8e8e;

 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 margin-top: -12vh;
}


.leftbox  .weatehrblock img{
	width: 110px;
	height: 100px;
	object-fit: cover;
	position: absolute;
}

.leftbox .weatehrblock h3{
	margin-left: 13vw;
	margin-top: 5vh;
	font-family: 'Neucha', cursive;
	color: #E98567;
}

.leftbox .infoblock h1{
	font-size: 36px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.leftbox .infoblock h2{
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	margin-top: 1vh;
}

.leftbox .infoblock p{
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;


	display: block;
	display: -webkit-box;
	height: 60px;

	margin: 0 auto;
	line-height: 1.4;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}


.leftbox .infoblock img{
	width: 100%;
	height: 300px;
	margin-top: 5vh;
	object-fit: contain;
	overflow: hidden;

}

.rightico{
	margin-top: 2.7vh;
	z-index: 900;
	font-size: 16px;
	left: 83%;
	right: 0;
	position: absolute;
}

.mainkeyboard{
	margin-top:3vh;
	text-transform: lowercase;
}

.KeyboardKey {
	display: inline-block;
	border: 1px solid #dcdcdc;
	background: #fff;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	height: 7vh;
	line-height: 5vh;
	width: 6.6vw;
	text-decoration: none;
	text-align: center;
	font-family: 'Neucha', cursive;
}

.uppershift{
	text-transform: uppercase;
}

.serious{
	width: 125px;
}

.megaserious{
	width: 88%;
	margin-top: 1vh;
}

.KeyboardKey:active {
	background-color: #dfdfdf;
}

// .KeyboardKey:active {
// 	position: relative;
// 	top: 1px;
//  }

 .biggsearch{
 	width: 89%;
 	height: 10vh;
 	padding-left: 2vw;
 	border-radius: 5px;
 	margin-top: 16vh;
	box-shadow: 0px 0px 10px #ABB7B7;
	font-family: 'Neucha', cursive;
	font-size: 18px;
 }

 .leftbox .logoico{
 	position: absolute;
 	font-size: 36px;
 	margin-top: 3vh;
	color: #6C7A89;
	left: 11%;
	z-index: 0;
 }

 .leftbox .settico{
 	position: absolute;
 	font-size: 36px;
 	margin-top: 2vh;
 	right: 11%;
	color: #6C7A89;
	z-index: 0;
 }

 .leftbox .globeico{
 	position: absolute;
 	font-size: 36px;
 	margin-top:8.5vh;
 	right: 11%;
	color: #6C7A89;
	z-index: 0;
 }

 .leftbox .setticoc{
 	position: absolute;
 	font-size: 28px;
 	margin-top: 2.5vh;
 	right: 11.3%;
	color: #6C7A89;
	z-index: 0;
 }

 .leftbox .globeicoc{
 	position: absolute;
 	font-size: 28px;
 	margin-top: 9vh;
 	right: 11.3%;
	color: #6C7A89;
	z-index: 0;
 }


 .leftbox .cubeperfect{
 	position: absolute;
 	margin-top: 0.8vh;
	background: transparent;
	width: 80px;
	height: 80px;
	left: 7.5%;
	// border: 2px dotted red;
	z-index: 9000;
 }

 .leftbox .setperfect{
 	position: absolute;
 	margin-top: 0.3;
	background: transparent;
	width: 80px;
	height: 80px;
	right: 7%;
	z-index: 9000;
 }

 .leftbox .fullinfos{
 	width: 100%;
 	height: 200vh;
 	margin-top: -35vh;
 	z-index: 9000;
 	position: absolute;
 	margin-left: -5vw;
 	border-radius: 0px;
 	padding: 10%;
 }

 .leftbox .corename{
 	position: absolute;
 	font-size: 21px;
 	margin-top: 4vh;
 	left: 0;
 	right: 0;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #6C7A89;
 }

 .leftbox .helpmelmao{
	font-family: 'Neucha', cursive;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 4vh;

	background: #E68364;
 	width: 80%;
 	height: 6vh;
 	position: absolute;
 	margin-left: auto;
 	margin-right: auto;
 	left: 0;
 	right: 0;
 	border-radius: 5px;
 	line-height: 6.5vh;
 }

 .splashscreen img{
 	width: 100vw;
 	height: 100vh;
 	object-fit: cover;
 }

 .splashscreen .dimit{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(230,131,100,0.4);
    z-index: 2;

    overflow:visible;
    pointer-events:none;
 }

 .splashscreen .centercircle{
 	position: absolute;
 	margin-left: auto;
 	margin-right: auto;
 	left: 0;
 	right: 0;

 	width: 200px;
 	height: 200px;
 	border-radius: 50%;

 	background-color: rgba(230,131,100,0.7);
    top: 0;
    bottom: 0;
    margin-top: 60vh;
	box-shadow: 0px 0px 20px black;
	z-index: 9000;
 	text-align: center;
 	line-height: 34.5vh;

 	transition: all 0.3s ease-in-out;
 }

 .splashscreen .centercircle i{
 	font-size: 100px;
 	color: #EEEEEE;
 }

 .splashscreen .thetime{
 	position: absolute;
 	margin-left: auto;
 	margin-right: auto;
 	left: 0;
 	right: 0;
    top: 0;
    bottom: 0;

    margin-top: 5vh;
	z-index: 9000;
 	text-align: center;
 	color: #EEEEEE;
	font-family: 'Neucha', cursive;
	font-size: 120px;
	margin-top: 20vh;
 }

 .splashscreen .orangecircle{
	background: #E68364 !important;
	color: #fff;
 }

 .checkyinputhider{
 	width: 89%;
 	height: 10vh;
 	padding-left: 2vw;
 	border-radius: 5px;
 	margin-top: 16vh;
	font-family: 'Neucha', cursive;
	font-size: 18px;
	position: absolute;
 }

 .settingsm .lockscreen{
 	width: 100%;
 	height: 10vh;
 	background-color: #D2D7D3;
 	border-radius: 10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #6C7A89;
	font-size: 18px;
	margin-top: 5vh;
 }

 .settingsm .teachermodebtn{
 	width: 100%;
 	height: 10vh;
	background: linear-gradient(to bottom right, #FDD09F, #F3D89F);
 	border-radius: 10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #8F6F40;
	font-size: 18px;
	margin-top: 5vh;
 }

 .settingsm .setupbtn{
 	width: 100%;
 	height: 10vh;
	background: linear-gradient(#5295EF, #803BF1);
 	border-radius: 10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	margin-top: 45vh;
 }

 .subtitlem{
 	text-align: left;
 	margin-top: 10vh;

	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #6C7A89;
	font-size: 18px;
 }

 .scieneceblock{
 	display: block;
 	width: 100%;
	height: auto;
 	margin-top: 2vh;
 	border-radius: 10px;

 	padding: 2%;
 	padding-left: 7%;
 	padding-right: 7%;

 	box-shadow: 0px 0px 5px #8e8e8e;
	background-color: #fafafa;
	text-align: left

 }

 .scieneceblock h2{
 	text-align: left;
 	font-size: 19px;

	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	color: #2E9EEF;
 }

 .scieneceblock h3{
 	margin-top: 5vh;
 	font-size: 16px;
 	text-align: left;

	font-family: 'Nunito', sans-serif;
	font-weight: 400;


	display: block;
	display: -webkit-box;
	height: 70px;

	margin: 0 auto;
	line-height: 1.4;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #3b5998;
 }

 .scieneceblock h4{
 	text-align: left;
 	font-size: 14px;
 	margin-top: 1vh;

	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-style: italic;
 }

.mymanthecham{
	position: absolute;
	width: 60px;
	height: 60px;
	object-fit: cover;
	margin-top:2vh;
	margin-left: 0vw;
}



.leftbox .gsearchmode .searchaw{
	margin-top: 30vh;
	color: #ABB7B7;
	font-family: 'Neucha', cursive;
	font-size: 28px;
}

.leftbox  .gsearchmode .resultbox{
	width: 100%;
	height: auto;
	background-color: #fafafa;
	padding: 5%;
	padding-left: 8%;
	padding-right: 8%;

	border-radius: 2px;
	font-size: 12px;
	box-shadow: 0px 0px 10px #8e8e8e;
	text-align: left;
	margin-top: 2vh;

}


.leftbox  .gsearchmode h1{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 18px;
}


.leftbox  .gsearchmode h2{
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.leftbox  .gsearchmode h4{
	margin-top: 5vh;
	text-align: left;
	font-size: 26px;
	text-align: center;
	font-family: 'Neucha', cursive;
	padding-bottom: 5vh;
}


.leftbox  .gsearchmode h3{
	margin-top: 2vh;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	color: #1F4788;
}



.largeview{
	display: block;
	width: 50vw;
	height: 100vh;
	background-color: #fafafa;
	z-index: 9000;
	position: absolute;
}

.largeview h1{
	text-align: left;
	font-size: 46px;
	font-family: 'Neucha', cursive;

}

.largeview p{
	text-align: left;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
	white-space: pre-line;
}

.largeview h5{
	margin-top: 10vh;
	text-align: left;
	font-size: 46px;
	font-family: 'Neucha', cursive;
}

.largeview h6{
	margin-top: 10vh;
	text-align: left;
	font-size: 46px;
	font-family: 'Neucha', cursive;
}



.largeview img{
	border: none;
	object-fit: contain;
	height: 50vh;
	width: 100vw;
}

.educationresources{
	color: #59A9C2 !important;
	box-shadow: 0px 0px 5px #59A9C2 !important;

	margin-top: 10vh !important;
}



.largeview ion-slide{
	border-top: 5px solid #ECF0F1;
	border-bottom: 5px solid #ECF0F1;
	height: 50vh;
	margin-top: 1vh;
}


.largeview ion-slide h2{
	margin-top: 5vh;

	position: absolute;
	margin-left: auto;
	margin-right: auto;

	left: 0;
	right: 0;

	text-align: center;
	font-size: 16px;
}


















//TEACHER


.parent{
	background-color: hsla(150, 2%, 16%, 1);
	width: 100vw;
	height: 100vh;
 	scroll-snap-align: start;
	font-family: 'Barlow Condensed', sans-serif;

	.topbanner{
		position: absolute;
		margin-left: -1.1vw;
	}

	.settico{
			margin-left: 93vw;
			margin-top: 2.6vh;
			font-size: 42px;
			position: absolute;
			color: $Yellow;
	}

	.searchicon{
			margin-left: 31.5vw;
			margin-top: 17.3vh;
			font-size: 21px;
			position: absolute;
			color: $Platinum;
	}

	.searchanything{
		margin-top: 16vh;
		margin-left: 30vw;
		background-color: $Coal;
		width: 46vw;
		height: 5vh;
		color: $Platinum;

		padding-left: 4vw;
		border-radius: 10px;
	}

	.searchanything::-webkit-input-placeholder{
		color: $Platinum !important;
	}
	.statsdrops{
		width: 30vw;
		height: 50vh;
		margin-top: 4vh;
		margin-left: 3vw;
		overflow: hidden;
		padding-top: 9vh;



		// border: 2px dotted red;

		.dropletgrid{
			list-style: none;
			display: inline-flex;
			margin-left: -3vw;
			margin-top: 1vh;


      font-family: 'Lora';
      color:black;
      font-weight: 600;

			.endchip{
				width: 20px;
				height: 25px;

			  border-top-left-radius: 90px;
			  border-bottom-left-radius: 90px;
				background-color: #E69896;
				margin-left:0.5vw;

			}
			.leftchip{
				width: 40px;
				height: 25px;

				background-color: #E2999F;

				letter-spacing: 1px;

				white-space: nowrap;
				overflow: hidden;
				line-height: 3.3vh;
				font-size: 10px;
				padding-left: 8px;
				margin-left:0.3vw;

			}
			.bignum{
				width:30px;
				height: 25px;

        color:  #F1A49f;
				letter-spacing: 1px;

				white-space: nowrap;
				overflow: hidden;
				line-height: 3.4vh;
				font-size: 21px;
				padding-left: 5px;
				margin-left:0vw;
				text-align: right;
			}
			.middlechip{
				width: 10px;
				height: 25px;
				background-color: #F1A49F;

				letter-spacing: 1px;

				white-space: nowrap;
				overflow: hidden;
				line-height: 4vh;
				font-size: 12px;
				padding-left: 10px;
				margin-left:0.3vw;


			}
			.rightchip{
				width: 93px;
				height: 25px;
				background-color: #F8CAC1;

			  border-top-right-radius: 90px;
			  border-bottom-right-radius: 90px;

				letter-spacing: 1px;

				white-space: nowrap;
				overflow: hidden;
				line-height: 3.4vh;
				font-size: 10px;
				padding-left: 10px;
				margin-left:0.3vw;
				font-weight: 600;

			}
			.namechip{
				width: 100px;
				height: 25px;
				background-color: #F7A3A2;
				letter-spacing: 1px;
				border-radius: 90px;

				white-space: nowrap;
				overflow: hidden;
				line-height: 3.3vh;
				font-size: 9px;
				margin-left:0.35vw;
				padding-left: 10px;
				font-family: 'Nunito', cursive;
			}
		}
	}

	.homeworkblock{
		width: 23vw;
		height: 25vh;
		background-color:  #F8CAC1;
		margin-left: 3vw;
		margin-top: 2vh;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		padding: 2%;
		margin-left: 5vw;
		text-align: center;
		border: 1px solid #fff;

		.viewhmw{
			width: 220px;
			height: 50px;
			background-color: #fff;
			color:  #F7A3A2;
			border-radius: 5px;
			font-size: 16px;
      font-family: 'Lora';
      font-weight: 600;

			margin-top: 1vh;
		}

		.sethmw{
			width: 220px;
			height: 50px;
			background-color: #fff;
			color:  #F7A3A2;
			border-radius: 5px;
			font-size: 16px;
      font-family: 'Lora';
      font-weight: 600;
		}
	}

	h3{
		color: $teach5;
		font-size: 21px;
		position: absolute;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-top: -70vh;
		margin-left: 57.5vh;
		width: 150px;
	}

	h4{
		color: $teach5;
		font-size: 26px;
		position: absolute;
		margin: 0;
		padding: 0;
		margin-top: -66vh;
		margin-left: 58vh;
		text-align: center;
		width: 150px;

	}

	.dropdowndownstats{
		background-color: transparent;
		width: 11vw;
		height: 80vh;
		position: absolute;
		margin-top: -73vh;
		margin-left: 36.5vw;
    font-family: 'Lora';
    color:black;
    font-weight: 500;

		.parta{
			width: 100%;
			height: 10vh;
			position: absolute;
			background: #91CED7;
			text-align: right;
			padding-top: 7vh;
			padding-right: 1vw;

			border-bottom: 1px solid $Platinum;


		}
		.partb{
			width: 100%;
			height: 5vh;
			position: absolute;
			background: #EDF9FF;
			margin-top: 10vh;
			text-align: right;
			padding-top: 2vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}
		.partc{
			width: 100%;
			height: 20vh;
			position: absolute;
			background: #E1FAFC;
			margin-top: 15vh;
			text-align: right;
			padding-top: 17vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}
		.partd{
			width: 100%;
			height: 10vh;
			position: absolute;
			background-color: #E8FFFF;
			margin-top: 35vh;
			text-align: right;
			padding-top: 7vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}
		.parte{
			width: 100%;
			height: 15vh;
			position: absolute;
			background-color: #E3EEFF;
			margin-top: 45vh;
			text-align: right;
			padding-top: 11.5vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}

		.partf{
			width: 100%;
			height: 12vh;
			position: absolute;
			background-color: #ECF0F1;
			margin-top: 60vh;
			text-align: right;
			padding-top: 7.5vh;
			padding-right: 1vw;
		}
	}

	.dropdowndownstats2{
		background-color: transparent;
		width: 10vw;
		height: 250vh;
		position: absolute;
		margin-top: -48vh;
		z-index: 9000;
		margin-left: 48.1vw;

		.parta{
			width: 100%;
			height: 10vh;
			position: absolute;
			background-color: $Silk;
			text-align: right;
			padding-top: 7vh;
			padding-right: 1vw;
			border-top-left-radius: 50px;
			border-bottom: 1px solid $Platinum;
		}
		.partb{
			width: 100%;
			height: 5vh;
			position: absolute;
			background-color: $Pink;
			margin-top: 10vh;
			text-align: right;
			padding-top: 2vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}
		.partc{
			width: 100%;
			height: 10vh;
			position: absolute;
			background-color: $LightPurple;
			margin-top: 15vh;
			text-align: right;
			padding-top: 7vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}
		.partd{
			width: 100%;
			height: 10vh;
			position: absolute;
			background-color: $Silk;
			margin-top: 25vh;
			text-align: right;
			padding-top: 7vh;
			padding-right: 1vw;
			border-bottom: 1px solid $Platinum;
		}
		.parte{
			width: 100%;
			height: 12vh;
			position: absolute;
			background-color: $Pink;
			margin-top: 35vh;
			text-align: right;
			padding-top: 8vh;
			padding-right: 1vw;
		}
	}

	.linestats{
		width: 45vw;
		height: 5vh;
		position: absolute;
		margin-top: -48vh;
		margin-left: 58vw;

		.parta{
			width: 10%;
			height: 100%;
			position: absolute;
			background-color: $Silk;
			text-align: right;
		}

		.partb{
			width: 20%;
			height: 100%;
			position: absolute;
			background-color: $Pink;
			margin-left: 10%;
			text-align: right;
			border-left: 2px solid $Platinum;
		}

		.partc{
			width: 20%;
			height: 100%;
			position: absolute;
			background-color: $LightPurple;
			margin-left: 29%;
			text-align: right;
			border-left: 2px solid $Platinum;
		}

		.partd{
			width: 20%;
			height: 100%;
			position: absolute;
			background-color: $Silk;
			margin-left: 49%;
			text-align: right;
			border-left: 2px solid $Platinum;
		}

		.parte{
			width: 21%;
			height: 100%;
			position: absolute;
			background-color: $Pink;
			margin-left: 68%;
			text-align: right;
			border-left: 2px solid $Platinum;
		}
	}

	.dropdowndownstats3{
		background-color: transparent;
		width: 10vw;
		height: 250vh;
		position: absolute;
		margin-top: -73vh;
		margin-left: 48.1vw;

		.parta{
			width: 100%;
			height: 10vh;
			position: absolute;
			background-color: $Silk;
			text-align: right;
			padding-top: 7vh;
			padding-right: 1vw;
			border-bottom: 1px solid $teach1;
		}
		.partb{
			width: 100%;
			height: 5vh;
			position: absolute;
			background-color: $Pink;
			margin-top: 10vh;
			text-align: right;
			padding-top: 2vh;
			padding-right: 1vw;
			border-bottom: 1px solid $teach1;
		}
		.partc{
			width: 100%;
			height: 9.6vh;
			position: absolute;
			background-color: $Silk;
			margin-top: 15vh;
			text-align: right;
			padding-top: 1vh;
			padding-right: 1vw;
			border-bottom: 1px solid $teach1;

			border-bottom-left-radius: 50px;
		}
	}

	.linestats2{
		width: 45vw;
		height: 5vh;
		position: absolute;
		margin-top: -53.5vh;
		margin-left: 58vw;

		.parta{
			width: 10%;
			height: 100%;
			position: absolute;
			background-color:  $Silk;
			text-align: right;
		}

		.partb{
			width: 20%;
			height: 100%;
			position: absolute;
			background-color: $Pink;
			margin-left: 10%;
			text-align: right;
			border-left: 2px solid $teach1;
		}

		.partc{
			width: 20%;
			height: 100%;
			position: absolute;
			background-color: $LightPurple;
			margin-left: 29%;
			text-align: right;
			border-left: 2px solid $teach1;
		}

		.partd{
			width: 20%;
			height: 100%;
			position: absolute;
			background-color: $Silk;
			margin-left: 49%;
			text-align: right;
			border-left: 2px solid $teach1;
		}

		.parte{
			width: 21%;
			height: 100%;
			position: absolute;
			background-color: $Pink;
			margin-left: 68%;
			text-align: right;
			border-left: 2px solid $teach1;
		}
	}


	h1{
		font-size: 48px;
		margin-top: -75vh;
		text-align: center;
		margin-left: 71vw;
		color: $Red;
		z-index: 9000;
		position: absolute;
		font-family: 'Bungee', cursive;
	}

	h2{
		font-size: 18px;
		margin-top: -67.5vh;
		text-align: center;
		margin-left: 67.3vw;
		color: $Yellow;
		z-index: 9000;
		position: absolute;
		font-family: 'Bungee', cursive;
	}

	.quote{
		position: absolute;
		width: 25vw;
		font-size: 14px;
		margin-top: 19vh;
		margin-left: 2vw;
		text-align: left;
		color: #fff;
	}


	.happi{
		position: absolute;
		margin-left:9.3vw;
		text-align: center;
		color: #fff;
    font-family: 'lora';
		font-size: 16px;
		margin-top: -3vh;
	}

	.acdem{
		position: absolute;
		margin-left: 19vw;
		text-align: center;
		color: #fff;
    font-family: 'lora';
		font-size: 16px;
		margin-top: -3vh;
	}

	.bigboy{
		width: 41vw;
		height: 45vh;
    	background-color: hsla(150, 2%, 16%, 1);
		position: absolute;
		margin-left: 58vw;
		margin-top: -44.5vh;
		border-top-left-radius: 20px;
		z-index: 9000;
		padding: 2%;

		hr{
			width: 2px;
			height: 150px;
			background-color: $LightPurple;
			margin-top: -25vh;
			border-radius: 30px;

			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}

		.alertcard{
			width: 15vw;
			height: 10vh;
			margin-top: 2vh;
			background-color: $Silk;
			box-shadow: 0px 0px 5px #e8e8e8;
			color: $Coal;
			border-radius: 5px;
			text-align: left;
			font-size: 12px;
			padding-top: 0.8vh;
			padding-left: 1vw;
			padding-right: 2vw;
			border: 2px solid $Pink;
			font-family: 'Nunito';
		}

		.rightside{
			margin-top: -36vh !important;
			z-index: 9000;
			margin-left: 22vw;

			.alertcard{
			padding-top: 0.8vh;
				border: 2px solid $Pink;
			}
		}
	}

	.bigboy2{
		width: 50vw;
		height: 24vh;
    background-color: hsla(150, 2%, 16%, 1);
		position: absolute;
		margin-left: 58vw;
		margin-top: -76vh;
		border-radius: 20px;

	}

	.subject{
		font-size: 42px;
		margin-top: -87vh;
		padding-right: 5vw;
		text-align: right;
		margin-left: 80vw;
		color: $Yellow;
		z-index: 9000;
		position: absolute;
	}

	.searchstd{
		width: 38vw;
		border-radius: 10px;
		margin-top: -42vh;
		height: 5vh;
		background-color: #fafafa;
		box-shadow: 0px 0px 5px #8e8e8e;
		margin-left: 60vw;
		font-size:18px;

		color: #523D1F;
		padding-left: 15px;
		z-index: 9000;
		position: absolute;
	}

	.searchstd::-webkit-input-placeholder{
		color: #523D1F !important;
	}

	.notifipane{
		width: 38vw;
		height: 40vh;
		margin-top: -35vh;
		background-color: #fafafa;
		box-shadow: 0px 0px 5px #8e8e8e;
		margin-left: 60vw;

		border-top-left-radius: 20px;
		border-top-right-radius: 20px;

		padding: 2%;
		z-index: 9000;
		position: absolute;
	}

	h5{

	}
	hr{

	}


	.range-slider {
	  margin: 60px 0 0 0%;
	}

	.range-slider {
	  width: 24%;
		margin-left: 69.6vw;
		margin-top: -56.5vh;
		position: absolute;
	}

	.range-slider__range {
	  -webkit-appearance: none;
	  width: calc(100% - (73px));
	  height: 10px;
	  border-radius: 5px;
	  background: $LightPurple;
	  outline: none;
	  padding: 0;
	  margin: 0;
		border: 1px solid #e8e8e8
	}
	.range-slider__range::-webkit-slider-thumb {
	  -webkit-appearance: none;
	          appearance: none;
	  width: 20px;
	  height: 20px;
	  border-radius: 50%;
		background: $Platinum;
	  cursor: pointer;
	  -webkit-transition: background .15s ease-in-out;
	  transition: background .15s ease-in-out;
		border: 2px solid $Coal;
	}
	.range-slider__range::-webkit-slider-thumb:hover {
	background: $teach5;
	}
	.range-slider__range:active::-webkit-slider-thumb {
	background: $teach5;
	}
	.range-slider__range::-moz-range-thumb {
	  width: 20px;
	  height: 20px;
	  border: 0;
	  border-radius: 50%;
	  background: $teach6;
	  cursor: pointer;
	  -webkit-transition: background .15s ease-in-out;
	  transition: background .15s ease-in-out;
	}
	.range-slider__range::-moz-range-thumb:hover {
	  background: #1abc9c;
	}
	.range-slider__range:active::-moz-range-thumb {
	  background: #1abc9c;
	}

	::-moz-range-track {
	  background: #d7dcdf;
	  border: 0;
	}

	input::-moz-focus-inner,
	input::-moz-focus-outer {
	  border: 0;
	}

	.thecorelist{
		margin-left: 65.5vw;
		margin-top: -66vh;
		text-align: center;
		list-style: none;

		position: absolute;
		font-size: 21px;
		color: $teach6;
		line-height:14vh;


		li{
			color: $Coal;
			display: inline-block;
			padding-left: 10px;
		}
	}
}

.profileMode{
	background-color: #FBFBFB;
	width: 50vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;

	.coverphoto{
		width: 100%;
		height: 45%;
		object-fit: cover;
		border-radius: 0px;
	}

	.swagtriangle{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 0 100px 619px;
		border-color: transparent transparent transparent #FBFBFB;

		margin-top: -12.8vh;
		z-index: 900;
		position: absolute;
	}

	.centercirclepro{
		width: 150px;
		height: 150px;
		z-index: 9000;
		border-radius: 5px;
		border: none;

		margin-left: 5vw;
		margin-top: -19vh;

		box-shadow: 0px 20px 32px -10px rgba(120,120,120,1);
	}

	h1{
		margin-top: 5vh;
		font-size: 21px;
		color: #2C2D32;

		text-align: left;
		z-index: 9000;
		position: absolute;

		margin-left: 5vw;

		font-family: 'Nunito', cursive;
		font-weight: 700;
	}

	h2{
		margin-top: 9vh;
		font-size: 16px;
		color: #888888;

		font-family: 'Nunito', cursive;
		font-weight: 400;
		text-align: left;
		z-index: 9000;
		position: absolute;

		margin-left: 5vw;

	}
}

.profilecontent{
		padding: 0 !important;

		.scroll-content{
			width: 100% !important;
			height: 100% !important;
			background-color: orange !important;
		}
}

.happinessblock{
  width: 100%;
  height: 30vh;
  margin-top: 3vh;
  background-color: #FEFCEB;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #DB9F8B;

  .imghappi{
    width: 50%;
    margin-top: 5%;
    float: left;
    margin-left: 2vw;
  }

  h1{
    color: #DBA089;
    font-style: italic;
    padding-top: 5vh;
    font-size: 26px;
    font-family: 'Lora', serif;
  }

  h2{
    color: #DBA089;
    font-size: 12px;
    padding-top: 1vh;
    font-family: 'Lora', serif;
    width: 35%;
    float: right;
    margin-right: 5%;
  }

  hr{
    width: 100px;
    height: 2px;
    margin-top: 8vh;
    background: #E3B38D;
  }

  .welbeingtrigger{
    width: 30%;
    height: 15%;
    margin-top: 3.5vh;
    font-size: 12px;
    background: #BF787D;
    color: #FFFDE8;
    border-radius: 5px;

    font-weight: bold;
    font-family: 'Lora', serif;
  }
}


.happykeyboard{
  background-color: #9E906E;

  .corename{
    color: #FFFDE8;
  }

  .settico{
    color: #FFFDE8 !important;
  }

  .globeico{
    color: #FFFDE8 !important;
  }

  .biggsearch{
    background-color: #FFFDE8;
    box-shadow: none;
    color: #9E906E;
  }

  .KeyboardKey{
    background-color: #FFFDE8;
    border: none;
    color: #9E906E;
  }

  .helpmelmao{
    background: #87766C;
  }
}

.happinessmode{
  .avacado{
    width: 50%;
  }

  h1{
    font-size: 46px;
    margin-top: 5vh;
    color: #87766C;
    font-family: 'Lora';
    font-weight: 600;

  }

  ul{
    list-style: none;
    color: #9E906E;
    margin-left: 1.5vw;
    margin-top: 7vh;
  }

  li{
    width: 30vw;
    height: 7vh;
    background-color: #87766C;
    margin-top: 2vh;
    border-radius: 10px;
    color: #FFFDE8;
    font-size: 18px;
    font-family: 'Lora';
    line-height: 7vh;
  }

  p{
    text-align: center;
    font-family: 'Lora';
    font-size: 21px;
    color: #9E906E;
    margin-top: 10vh;
    text-transform: uppercase;
  }
}




























.bottomroomoncssdoc{

}
