<div class="dimmer" (click)="dismiss()"></div>
<div class="infosheet" (scroll)="doSomething($event)">

  <h1>TypeScript</h1>
  <h3>A programming language</h3>

  <i class="lockicon icon-lock"></i>
  <button class="resbtn">Restricted Lesson ages 12+</button>

  <div class="sideblock">
    <ul>
      <li>TypeScript is a <a href="#">superset</a> of <a href="#">JavaScript</a> </li><div class="lilheight"></div>
      <li>TypeScript spots common errors <i>as you type the code</i> </li><div class="lilheight"></div>
      <li>TypeScript is <a href="#">Open Source</a> so anyone can use it for free </li>
    </ul>

  </div>

  <div class="containment">
    <ion-content>
      <div id="columns">

      	<figure>
      	   <img src="http://code.visualstudio.com/images/typescript_Languages_typescript.png">
      	   <figcaption>Many users code TypeScript in the Microsoft program, Visual Studio Code</figcaption>
      	</figure>

        <figure>
           <img src="https://s.gravatar.com/avatar/3e2b342616822f8eabc9dd393840db4a?size=496&default=retro">
           <figcaption>TypeScript Logo</figcaption>
        </figure>

      	<figure>
      	   <img src="https://www.typescriptlang.org/assets/images/docs/greet_person.png">
      	   <figcaption>Visual Stuido with Typescript</figcaption>
      	</figure>

      	<figure>
      	   <img src="https://cdn-images-1.medium.com/max/2000/1*i0qclSPNcjj8cWOPr3wLxg.png">
      	   <figcaption>TypeScript banner</figcaption>
      	</figure>

    	</div>
    </ion-content>
  </div>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/-PR_XqW9JJU" frameborder="0" allowfullscreen></iframe>

</div>
